@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");



@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


@keyframes smoothScroll {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .center {
    @apply flex justify-center items-center
  }

  .loginBtn {
    @apply border-coral-red bg-red-500 text-white font-bold px-3 py-2 w-full mt-2 rounded-[20px] uppercase
  }

  .signinBtn {
    @apply border-white text-white border-2 font-bold px-3 py-2 w-full mt-2 rounded-[20px] uppercase
  }

}

@layer utilities {
  .padding {
    @apply sm:p-16 p-8
  }

  .padding-x {
    @apply sm:px-16 px-8;

  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }


}


/* for modal */
body.active_modal {
  overflow-y: hidden;
}
.modal , .modal_overlay{
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 90;
}

.modal_overlay{
  background: rgba(0,0,0,0.9);
}
.modal_content{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  border-radius: 3px;
  z-index: 90;
}

.modal_close{
  position: absolute;
  background-color: red;
  color: white;
  font-weight: bold;
  top: 25px;
  right: 25px;
  padding: 5px 7px;
  z-index: 90;
}